.chat {
  display: flex;
  width: 100vw;

  &__sidebar {
    display: flex;
    flex-direction: column;
    width: 310px;
    border-right: 1px solid $gallery;
  }

  &__sidebar-header {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid $gallery;
  }

  &__sidebar-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 15px 10px;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    display: flex;
    margin: 12px 8px 0 12px;
    padding: 10px 0;

    &:hover {
      cursor: pointer;
      opacity: 0.7;
    }
  }

  &__avatar {
    margin-right: 10px;
  }

  &__preview {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 190px;
  }

  &__meta-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-right: 8px;
    margin-left: auto;
  }

  &__main {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    height: 100vh;
  }

  &__menu {
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    height: 55px;
    max-width: 100%;
    padding: 10px 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid $gallery;
  }

  &__messages {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    overflow-y: scroll;
  }

  &__message-form {
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between;
    align-items: center;
  }

  &__actions {
    margin-left: auto;
  }

  &__message-input {
    flex-grow: 1;
    margin: 0 20px;
    height: 70px;
    display: flex;
  }
}

.message {
  display: flex;
  min-width: 0;
  max-width: 45%;
  padding: 10px;
  margin: 0 20px 20px 20px;
  border-radius: $default-border-radius;

  &_in {
    align-self: flex-start;
    background-color: #f8f8f8;
  }

  &_out {
    align-self: flex-end;
    background-color: #e4edfd;
  }
}

.message-area {
  width: 100%;
  padding: 10px;
  outline: none;
  border: none;
  background-color: $gallery;
  border-radius: 10px;
}

.search {
  display: flex;
  justify-content: center;
  padding: 0 10px;
  margin-bottom: 15px;

  input {
    width: 100%;
    height: 32px;
    border-radius: 12px;
    border: none;
    background-color: $gallery;
    padding-left: 15px;
  }
}

.arrow {
  border: solid $dusty-gray;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);

  &_right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

  &_left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }

  &_up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }

  &_down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
}


.cross {
  width: 8px;
  height: 8px;
  opacity: 0.3;
  position: relative;
}
.cross:hover {
  opacity: 1;
}
.cross:before, .cross:after {
  position: absolute;
  left: 3px;
  content: ' ';
  height: 16px;
  width: 2px;
  background-color: $dusty-gray;
}
.cross:before {
  transform: rotate(45deg);
}
.cross:after {
  transform: rotate(-45deg);
}
